# 🔧 Node
node_modules/
package-lock.json
npm-debug.log*

# 🔧 Logs
logs/
*.log

# 🔒 Environment
.env

# 📦 Build output
build/
dist/

# ⚛️ React (client folder)
client/node_modules/
client/package-lock.json
client/build/
client/.env
client/.next/
client/.turbo/

# 💻 Editor/OS files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
